{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Erro</title>
    <link rel="stylesheet" href="{% static 'signal.css' %}">
  </head>
  <body>
    <header>
      <img src="{% static '/img/error.jfif' %}" alt="" srcset="">
      <h1>Oops um erro ocorreu</h1>
    </header>
    <section id="message-error-div">
      <p>{{ message }}</p>

      <div>
        <button>
          <a href="http://168.0.96.11:50066/optical/query-signal">
            Volte para homepage
          </a>
        </button>
      </div>

    </section>
</body>
</html>