{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atualiza Primária</title>
    <link rel="stylesheet" href="{% static 'signal.css' %}">
</head>
<body>
    <div class="modal-loader">
        <div class="loader"></div>
        <h2 id="loader-message">Carregando dados...</h2>
    </div>

    {% csrf_token %}

    <header>
        <h1>Atualiza descrição da primária</h1>
    </header>

    {% include 'partials/gponPartial.html' %}

    <div id="primary">
        <h2>Selecione a primária</h2>
            <input id="select-primary" type="number">
    </div>

    <div id="cable">
        <h2>Selecione o cabo</h2>
        <input id="select-cable" type="number">
    </div>

    <div>
        <button onclick="updateDescription()">Atualizar descrição</button>
    </div>

    <script type="text/javascript" src="{% static 'signal.js' %}"></script>
    <script type="text/javascript" src="{% static 'update.js' %}"></script>
</body>
</html>