{% load static %}
<h2>Comandos gerados</h2>
<div class="ready-commands">
    <object class="active-result" id="interface-results" data="{{ commands.interfaceCommands }}">

    </object>
    
    <object class="inactive-result" id="global-results" data="{{ commands.globalCommands }}">
    
    </object>
    
    <object class="inactive-result" id="delete-results" data="{{ commands.deleteCommands }}">
    
    </object>
</div>

<div class="result-buttuns">
    <button id="interface-button" onclick="resultsButton(event)">Comandos Interface</button>
    <button id="global-button" onclick="resultsButton(event)">Comandos Globais</button>
    <button id="delete-button" onclick="resultsButton(event)">Comandos Delete</button>
</div>
