{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error Page</title>
    <link rel="stylesheet" href="{% static './resources/style.css' %}">
  </head>
  <body class="error">
    <div class="container">
      <h1 class="error-h1">Erro! Operação falhou.</h1>
      {{ message }}
      <p>Por favor, verifique o URL ou <a href="http://localhost:8000/generator/home/">retorne à página inicial</a>.</p>
    </div>

  </body>
</html>
      <button>
        <a href="http://10.0.30.252:8000/generator/home">
          Volte para homepage
        </a>
      </button>
    </section>
</body>
</html>

