{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta Sinal</title>
    <link rel="stylesheet" href="{% static 'signal.css' %}">
</head>
<body>
    <div class="modal-loader">
        <div class="loader"></div>
        <h2 id="loader-message">Carregando dados...</h2>
    </div>

    {% csrf_token %}

    <header>
        <h1>Consulta sinal</h1>
    </header>

    <section id="query-mode-div">
        <label for="select-query-mode">Escolha um modo de consulta</label>
        <select name="select-query-mode" id="select-query-mode">
            <option value=""></option>
            <option value="ID do cliente">ID do cliente</option>
            <option value="Localização PON">Localização PON</option>
        </select>
        <button onclick="showQueryMode()">Próximo</button>
    </section>

    <section id="client-id">
        <label for="client-id-input">Insira o código do cliente</label>
        <input type="number" name="client-id-input" id="client-id-input">
        <button onclick="makeSignalQuery('ID do cliente')">Fazer Consulta</button>
    </section>

    {% include 'partials/gponPartial.html' %}

    <script type="text/javascript" src="{% static 'signal.js' %}"></script>
</body>
</html>