@media only screen and (max-width: 700px) {
    /*Hompage*/
    * { 
        flex-direction: column;
        scrollbar-width: 1px;
        width: 100%;
    }

    #title-homepage {
        font-size: 22px;
    }

    .app-title {
        font-size: 16px;
    }

    .app-explanation {
        font-size: 14px;
    }

    #apps { 
        display: flex;
        flex-direction: column;
        margin: 0.1em auto;
        align-items: center;
    }

    .logo {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin: 0.1em auto;
    }

    .logo p {
        font-size: 10px;
        text-align: end;
        text-align: center;
    }

    .logout-container {
        margin: 0 0.5em;
    }

    .logo img {
        width: 70%;
    }

    title {
        display: none;
    }

    .app {
        display: flex;
        max-width: 90%;
        margin: 0.5em auto;
    }

    .card-header {
        display: flex;
        height: 30vh;
    }

    .app-explanation, .app-title, .btn-app {
        width: 90%;
    }

    .app a {
        padding: 0;
        text-align: center;
    }

    .btn-app, #login-button {
        width: 70%;
        font-size: 12px;
        text-align: center;
        padding: 12px 50px;
        font-weight: bold;
        border-radius: 10px;
        color: white;
        cursor: pointer;
    }

    /*Login Page*/
    .login-container {
        display: flex;
        max-width: 90%;
        margin: 0 auto;
        text-align: center;
    }

    .logo a {
        display: flex;
        align-items: center;
        width: 100%;
    }

    #error-message {
        display: flex;
        margin: 2em auto;
        width: 90%;
        flex-direction: row;
    }

    #error-message h1 {
        font-size: 12px;
    }

    #alert-img, #error-img {
        margin: 0 0.2em;
    }
}