{% load static %}
    <table id="attenuations-table">
        {% for attenuation in attenuations %}
            <tr>
                <td>
                    <button id='attenuation-{{ attenuation.attenuation_id }}' onclick='showAttenuation({{ attenuation.attenuation_id }})'>
                        Atenuação {{ attenuation.attenuation_id }}
                    </button>
                </td>
            </tr>
        {% endfor %}
    </table>

    <div id="container-onts-table">
        <table id="onts-table">
            <thead>
                <td>ID</td>
                <td>Número de série</td>
            </thead>
        </table>
        <div id="attenuations-btn">

        </div>
    </div>

    <div id="div-attenuation-buttons">
        <button id="end-btn" onclick="endAttenuation()">Finalizar Atenuações</button>
        <button id="next-btn"onclick="nextAttenuation()">Coletar Próxima Atenuação</button>
    </div>