{% extends 'shared_templates/base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'attenuator.css' %}">
{% endblock %}

{% block content %}
{% include 'attenuationsManagerTitle.html' %}

    <div id="maintenance-name"><h3>Manutenção: {{ name }}</h3></div>

    {% if error %}
        {% include 'shared_templates/errorMessage.html'%}
        {% include 'attenuationsPagePartial.html' %}

    {% elif total_offline_onts == 0 and not error %}
        {% include 'shared_templates/warnMessage.html' %}
        {% include 'attenuationsPagePartial.html' %}

    {% else %}
        <div id="current-attenuation">
            <table id="onts-table">
                <thead>
                    <td>ID</td>
                    <td>Número de série</td>
                </thead>
                {% for ont in onts %}
                <tr>
                    <td>{{ ont.id }}</td>
                    <td>{{ ont.sn }}</td>
                </tr>
                {% endfor %}
            </table>
            <div id="total_off">
                <p>Offline nessa atenuação: <b>{{ total_offline_onts }}</b></p>
            </div>

            <div>
                <button onclick="maintainAttenuation()">Manter Atenuação</button>
                <button onclick="discardAttenuation({{ attenuation_id }})">Descartar Atenuação</button>
            </div>
        </div>

    {% endif %}
    
    {% block scripts %}
        <script type='text/javascript' src="{% static 'attenuator.js' %}"></script>
    {% endblock %}
{% endblock %}


