#files-mng-container {
    display: flex;
    width: 85%;
    align-items: center;
    box-sizing: border-box;
    flex-direction: column;
}

#filter-container {
    display: flex;
    width: 100%;
}

#list-button {
    margin: 0;
}

#files-containter {
    width: 100%;
    margin-top: 1vh;
}

.t-head {
    font-weight: bold;
}

#files-table {
    width: 100%;
}

#files-actions {
    display: flex;
    margin: 0;

}

/* Tooltip container */
.icon-actions {
    display: flex;
    position: relative;
    /*display: inline-block; */
}
  
  /* Tooltip text */
.icon-actions .auxiliary-text {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}
  
  /* Tooltip arrow */
.icon-actions .auxiliary-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
  
  /* Show the tooltip text when you mouse over the tooltip container */
.icon-actions:hover .auxiliary-text {
    visibility: visible;
    opacity: 1;
}


.single-file:hover {
    background: #ebe5e5;
}

svg {
    margin: 0;
    
}