{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>SMS Sender</title>
    <link rel="stylesheet" href="{% static 'sendSms.css' %}">
  </head>
  <body>
    {% csrf_token %}
    
    <div class="modal-loader">
      <div class="loader"></div>
    </div>

    <div class="logo">
      <a href='http://dk.commands.nmultifibra.com.br/maintenance'>
        <img src="{% static '/img/logoNM.png' %}" alt="Logo N-Multifibra" />
      </a>

      {% include 'shared_templates/logoutPartial.html' %}
    </div>

    <header>
      <h1 id="title">SS - SMS Sender</h1>
    </header>
    {% block content %} {% endblock %} 
    <script type='text/javascript' src="{% static 'sendSms.js' %}"></script>
  </body>
</html>