{% extends 'base_sms.html' %}
{% load static %}
{% block content %}
    <table>
        <tr id="table-head">
            <th><input type="checkbox" id="cbx-select-all" onclick="selectAllDevices()"></th>
            <th>ID</th>
            <th>SERIAL NUMBER</th>
            <th>MOTIVO ÚLTIMA QUEDA</th>
            <th>ÚLTIMA QUEDA</th>
            <th>STATUS</th>
        </tr>
        {% for device in all_devices %}
            <tr class="device-row">
                <td><input type="checkbox" id="cbx-single-item" class="input-device" onclick="markSelectedItem()"></td>
                <td>{{ device.id }}</td>
                <td>{{ device.sn }}</td>
                <td>{{ device.lastDownCause }}</td>
                <td>{{ device.lastDownTime }}</td>
                {% if device.status == 1 %}
                    <td>ONLINE</td>
                {% else %}
                    <td>OFFLINE</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>

    <div class="generate-btn">
        <button onclick="getNumbersToSendSms()">Buscar números</button>
    </div>
{% endblock %}
