* { 
    padding: 0;
    margin: 0.5vh auto;
    font-family: sans-serif, Arial, Helvetica;
}

header {
    display: flex;
    flex-direction: column;
    width: 85%;
}

header img {
    width: 60%;
}

#source-container, #olt, #gpon, #selects-source-gpon,  #file, .logo, .generate-btn, .ready-commands, .result-buttons  { 
    display: flex;
    width: 85%;
    align-items: center;
    box-sizing: border-box;
}

#source-container, #olt, #gpon, #file, .ready-commands {
    flex-direction: column;
}

#selects-source-gpon, object {
    width: 100%;
}

select, input {
    width: 100%;
    padding: 15px; 
    margin: 0 4px;  
    border: 2px solid;
    border-color: white;
    border-radius: 10px;
    font-size: 20px;
    background-color: #f7f9fd;
    box-sizing: border-box;
}

select:hover, input:hover {
    border-color: #fbad18;
    border: 2px solid;
}

button {
    padding: 12px 50px;
    font-size: 20px;
    font-weight: bold;
    background: #4e9ff4;
    border-radius: 10px;
    border: none;
    color: white;
}

button:hover{
    background: #4ebbf4;
}

table {
    text-align: center;
    font-size: 18px;
    width: 85%;
    border-collapse: collapse;
}

th {
    padding: 6px;
}

td { 
    padding: 8px;
}

#table-head {
    background: #4e9ff4;
    color: white;
}

table th:last-child {
    border-radius: 0 16px 0 0;    
}

table th:first-child {
    border-radius: 16px 0 0 0;
}

#title, #file, #olt, #gpon { 
    margin: 15px auto;
}

#btn-warn {
    background: #fbad18;
    color: black;
}

#btn-discard {
    background: rgb(250, 65, 65);
    color: black;
}

#btn-discard:hover{
    background: rgb(227, 107, 107);
}

#btn-warn:hover {
    background: #efbe63;

}

object {
    margin: 15px auto;
}
