#maintenance-name, #div-attenuation-buttons {
    display: flex;
    width: 85%;
    margin: 0 auto;
}

#div-attenuation-buttons {
    justify-content: space-between;
    margin-top: 5em;
}

#div-attenuation-buttons button {
    margin: 0;
}

#next-btn {
    background-color: rgb(13, 70, 13);
}

#end-btn {
    background-color: #fbad18;
}