{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error Page</title>
    <link rel="stylesheet" href="{% static 'shared_staticfiles/maintenance.css' %}">
</head>
<body>
    <div id="error">
        <h1 id="error-title-h1">Oops!</h1>
        <h2 id="error-title-h2">Ocorreu um erro</h2>
        <p id="error-message">{{ message }}</p>
        <button id="bnt-error">
            <a href="http://10.0.30.252:8000/generator/home">
              Volte para homepage
            </a>
        </button>
    </div>  
</body>
</html>

