{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maintenance Manager</title>
    <link rel="stylesheet" type="text/css" href="{% static 'shared_staticfiles/maintenance.css' %}">
</head>
<body>
    <nav class="logo">
        <img src="{% static '/img/logoNM.png' %}" alt="Logo N-Multifibra" />
    </nav>

    <h1 id="title-homepage">Aplicações disponíveis</h1>

    <section id="apps">
        <div class="app">
            <div class="card-header">
                <h3 class="app-title">Gerador de Comandos</h3>
                <p class="app-explanation">APP utilizado para gerar os comandos do corte, nele você seleciona uma localização PON de origem, escolhe quais os dispositivos (ONU's) que serão migradas de localização, seleciona a localização de destino e assim você consegue gerar os comandos. Através desse APP você também pode aplicar os comandos na OLT a obter o log de cada comando aplicado.</p>
            </div>
            <a href="http://10.0.30.157:8000/generator/home">
                <button class="btn-app">Acessar APP</button>
            </a>
        </div>
        <div class="app">
            <div class="card-header">
                <h3 class="app-title">Gerenciador de Atenuações</h3>
                <p class="app-explanation">APP que abstrai e automatiza o processo do corte, nele você consegue obter os dispositivos (ONU's) que ficaram offline em cada atenuação sem a necessidade de acompanhar as atenuações pela cli da OLT, além disso, você consegue gerenciar as atenuações, analisando cada uma e removendo alguma se necessário, após finalizar as atenuações você tem a opção de gerar os comandos e também de aplicá-los na OLT</p>
            </div>
            <a href="http://10.0.30.157:8000/attenuator/home">
                <button class="btn-app">Acessar APP</button>
            </a>
        </div>
        <div class="app">
            <div class="card-header">
                <h3 class="app-title">Envio de SMS</h3>
                <p class="app-explanation">APP que otimiza o envio de SMS's, os SMS são enviados para os clientes de acordo com as localizações da PON das OLT invés de serem enviados com baso nas localizações PON registradas no IXC, localizações essas que por diversas vezes são inconsistentes</p>
            </div>
            <a href="http://10.0.30.157:8000/sms/home">
                <button class="btn-app">Acessar APP</button>
            </a>
        </div>
        <div class="app">
            <div class="card-header">
                <h3 class="app-title">GPON Health</h3>
                <p class="app-explanation">APP com intuito de automatizar o máximo das tarefas relacionadas a GPON sem ter que fazer o acesso direto a CLI da OLT. Esse APP conta com funcionalidades como verificação de sinal de primárias, alteração de descrição de portas PON, além de outras funcionalidades.</p>
            </div>
            <a href="http://10.0.30.157:8000/gpon/query-signal">
                <button class="btn-app">Acessar APP</button>
            </a>
        </div>
    </section>
</body>
</html>