{% extends 'base.html' %}
{% load static %}
{% block content %}
    <table>
        <tr>
            <th><input type="checkbox" id="cbx-select-all" onclick="selectAllDevices()"></th>
            <th>ID</th>
            <th>Serial Number</th>
            <th>Type</th>
            <th>Status</th>
        </tr>
        {% for device in all_devices %}
            <tr>
                <td><input type="checkbox" id="cbx-single-item"></td>
                <td>{{ device.id }}</td>
                <td>{{ device.sn }}</td>
                <td>{{ device.type }}</td>
                {% if device.status == 1 %}
                    <td>ONLINE</td>
                {% else %}
                    <td>OFFLINE</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    
    <h2>Selecione um nome para o arquivo</h2>
    <input type="text" id="file-name">

    {% include 'partials/gponForm.html' %}

    <button onclick="generateCommands()">Gerados comandos</button>
{% endblock %}
