{% extends 'base.html' %}
{% load static %}
{% block content %}
    <table>
        <tr id="table-head">
            <th><input type="checkbox" id="cbx-select-all" onclick="selectAllDevices()"></th>
            <th>ID</th>
            <th>SERIAL NUMBER</th>
            <th>TIPO</th>
            <th>STATUS</th>
        </tr>
        {% for device in all_devices %}
            <tr class="device-row">
                <td><input type="checkbox" id="cbx-single-item" class="input-device" onclick="markSelectedItem()"></td>
                <td>{{ device.id }}</td>
                <td>{{ device.sn }}</td>
                <td>{{ device.type }}</td>
                {% if device.status == 1 %}
                    <td>ONLINE</td>
                {% else %}
                    <td>OFFLINE</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    
    <div id="file">
        <h2>Selecione um nome para o arquivo</h2>
        <input type="text" id="file-name">
    </div>

    {% include 'partials/gponForm.html' %}

    <div class="generate-btn">
        <button onclick="generateCommands()">Gerar comandos</button>
    </div>
{% endblock %}
