 {% load static %}

<header>
    <h3>Logs da Manutenção: {{ name }}</h3>
</header>
<section id="logs-container">
    {% for log in logs %}
        <p><b id="applied">COMANDO APLICADO: </b>{{log.command}}</p>
        <p><b id="log">OUTPUT: </b>{{log.log}}</p>
    {% endfor %}
</section>

<div class="action-buttuns">
    <button id="btn-home" onclick="location.href='http://localhost:8000/maintenance'">Ir para Homepage</button>
    {% if not rollback %}
        <button id="btn-rollback" onclick="apllyCommands('{{operation_mode}}', true, '{{register_id}}')">Desfazer Comandos</button>
    {% endif %}
</div>





