{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
{% include 'partials/attenuations_manager_title.html' %}

    <div id="maintenance-name"><h3>Manutenção: {{ name }}</h3></div>

    {% if error %}

        <div class="message" id="error-message">
            <img src="{% static '/img/error-i.png' %}" alt="Alert icon image" id="error-img">
            <h1>{{ message }}</h1>
            <img src="{% static '/img/error-i.png' %}" alt="Alert icon image" id="error-img">
        </div>

        {% include 'attenuationsPagePartial.html' %}

    {% elif total_offline_onts == 0 and not error %}

        <div class="message">
            <img src="{% static '/img/alert.png' %}" alt="Alert icon image" id="alert-img">
            <h1>Nenhuma ont caiu nesta atenuação</h1>
            <img src="{% static '/img/alert.png' %}" alt="Alert icon image" id="alert-img">
        </div>

        {% include 'attenuationsPagePartial.html' %}

    {% else %}
        <table>
            {% for ont in onts %}
            <tr>
                <td>{{ ont.id }}</td>
                <td>{{ ont.sn }}</td>
            </tr>
            {% endfor %}
        </table>
        <div id="total_off">
            <p>Total de ont's offline nessa atenuação: {{ total_offline_onts }}</p>
        </div>

        <div>
            <button onclick="maintainAttenuation()">Manter Atenuação</button>
            <button onclick="discardAttenuation({{ attenuation_id }})">Descartar Atenuação</button>
        </div>
    {% endif %}
{% endblock %}
