{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% if '/generator/' in request.path %}
        <title>Gerador de Comandos</title>
    {% elif '/attenuator/' in request.path %}
        <title>Gerenciador de Atenuações</title>
    {% elif '/files/' in request.path %}
        <title>Gerenciador de arquivos</title>
    {% endif %}
    
    <link rel='stylesheet' type='text/css' href="{% static 'attenuator.css' %}">
    <link rel='stylesheet' type='text/css' href="{% static 'files.css' %}">
    <link rel='stylesheet' type='text/css' href="{% static 'shared_staticfiles/maintenance.css' %}">
</head>
<body>
    {% csrf_token %}
    <div class="modal-loader">
      <div class="loader"></div>
      <h2 id="loader-message">Carregando dados...</h2>
    </div>

    <nav class="logo">
        <a href='http://commands.nmultifibra.com.br/'>
            <img src="{% static '/img/logoNM.png' %}" alt="Logo N-Multifibra" />
        </a>
    </nav>

    {% block content %} {% endblock %} 

    <script type='text/javascript' src="{% static 'attenuator.js' %}"></script>
    <script type='text/javascript' src="{% static 'files.js' %}"></script>
    <script type='text/javascript' src="{% static 'commands.js' %}"></script>
    <script type='text/javascript' src="{% static 'shared_staticfiles/maintenance.js' %}"></script>
</body>
</html>